@media only screen and (max-width: 600px) {
    *{
        margin: 0;
        padding: 0;
    }

    body{
        padding: 8px;
        font-family: 'poppins', sans-serif;
    }

    .navbar{
        padding: 15px;
        display: flex;
        font-weight: 600;
        justify-content: center;
        list-style: none;
        background: teal;
    }

    .navbar ul{
        display: inline-block;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    .navbar ul li{
        display: inline-flex;
       padding: 5px;
    }
    .navbar ul{
        display: inline-flex;
        justify-content:space-around;
        align-items: center;
        list-style: none;
    }

    .navbar img{
        height: 5vh;
        width: 5vh;

    }

    .navbar a{
        text-decoration: none;
        color:#e1e1e1;
    }

    .navbar a:hover{
        text-decoration: none;
        color:#000;
        background: #fff;
        border: 1px solid teal;
        border-radius: 20px;
        padding: 7px;
    }
    
    p{
        font-size: 0.9rem;
    }

    .responsive{
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .gallery img{
        display: inline-flex;
        justify-content: center;
        align-content: center;
        width: 70vw;
        height: 60vh;
    }
    
    h3{
        padding: 15px;
        color: teal;
    }
}
